.container {
    margin-top: 60px;
}

.img-fluid{
     margin-top: 10%;
    margin-bottom: auto;
    
}
.jumbotron, h1 {
    background: none;
    padding: 0;
    color: aliceblue;
    font-family: 'Poller One', cursive;
    text-align: center;
    
}
.card {
    margin-top: 90px;
    width: 40%;
}

body {
    background-color: #343840;
}
.container-footer {
    
}

p {
    color: white;
    font-weight: bold;
}
span:hover {
    color: blue;

}


.form-group {
    color: white;
    
}
form {
    margin: 20px;
}

hr {
    border-width: 2px;
    border-color: white;
}

.col-md-4 {
    text-align: center;
}

.planner, .covid {
    width: 350px;
    height: 350px;
}

.planner:hover,.covid:hover {
    opacity: 20%;
    
}
.planButton:hover {
    color: cornflowerblue;
}
.covidButton:hover {
    color: cornflowerblue;
}